*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
* {
    font-family: "Inter", sans-serif;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

.header .logo {
    font-size: 2rem;
}

.add {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
}

.add svg {
    height: 2rem;
}

.main {
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #cee6f3;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 30px;
    grid-template-rows: repeat(auto-fit, 200px);
    padding: 35px 20px;
}

.card {
    padding: 20px;
    background-color: #c2dedc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.content .title {
    font-size: 1rem;
}

.content .author {
    font-size: 0.75rem;
}

.buttons {
    padding-top: 10px;
    display: flex;
    gap: 15px;
}

.buttons button {
    font-size: 0.75rem;
    border: none;
    padding: 6px 15px;
    border-radius: 6px;
    color: white;
    height: 30px;
    width: 80px;
}

hr {
    border: solid 0.05rem #b8b8b8;
}

.read {
    background-color: #51c27c;
}

.dlt {
    background-color: #e76b6b;
}
