*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }
* {
    font-family: "Inter", sans-serif;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

.header .logo {
    font-size: 2rem;
}

.add {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
}

.add svg {
    height: 2rem;
}

.main {
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: #cee6f3;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 30px;
    grid-template-rows: repeat(auto-fit, 200px);
    padding: 35px 20px;
}

.card {
    padding: 20px 20px 0 20px;
    background-color: #c2dedc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px 35px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    position: relative;
}

.content .title {
    font-size: 1.5rem;
}

.content .author {
    font-size: 0.85rem;
}

.buttons {
    padding: 15px 0;
    display: flex;
    gap: 15px;
    border-top: solid 1px black;
    align-self: center;
}

.buttons button {
    font-size: 0.75rem;
    border: none;
    padding: 6px 15px;
    border-radius: 6px;
    color: white;
    height: 30px;
    width: 80px;
}

.read {
    background-color: #619976;
}

.dlt {
    background-color: #e76b6b;
}

.progress {
    border-top: solid 1px black;
    grid-row: 3;
    display: flex;
    padding: 5px 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

dialog {
  box-shadow: 0 0 10px black;
  border: solid 1px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 25%;
  border-radius: 15px;
  background-color: #c2dedc;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
}

.text-input {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.top {
  font-size: 2rem;
  align-self: center;
}

.read-form {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dialog-input {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  border-radius: 10px;
  height: 2.5rem;
  border: none;
  background-color: white;
  font-size: 1.25rem;
  padding: 0 0.5rem;
  width: 100%;
}

input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
}

input[type="checkbox"]:checked {
  accent-color: white;
}

label {
  font-size: 1.25rem;
}

.add-button {
  align-self: center;
}

input[type="submit"] {
  padding: 0.7rem 3rem;
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: #97dab1;
  border: none;
}

.close {
  background-color: #c2dedc00;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-right: 15px;
}

.close svg {
  height: 2rem;
}